*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* navi */
.header{
    height: 350px;
}
.navi{
    margin: 0 auto;
    height: 90px;
    width: 1100px;
    /* background: rgba(0,0,0,.7); */
    z-index: 2;
    position: relative;

}
.navi a{
    color:#fff;
}
.hbg{                                                        
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1;  
}
.bg img{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
}
h1 > a > img{
    margin-left: 20px;
    width: 94px;
    height: 30px;
    margin-top: 30px;
    display: inline-block;
}
.tnb{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 131px;
    margin-top: 45px;
    font-size: 10px;
}

.nav{
    float: right;
}
.nav .dep1 > li{
    float: left;
    /* margin-left: 974px; */
    padding: 38px 39px 0 0;
    font-size: 13.5px;
    /* margin-left: 131px; */
}
.nav .dep1:hover .dep2{
    display: block;
}
.nav .dep2{
    display: none;
    margin-top: 35px;
    background: rgba(0,0,0,.7);
    padding: 0 63px 17px 18px;
}
.nav .dep2 > li{
    font-size: 10px;
    padding-bottom: 10px;
}
.main{
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 888px;
    /* padding-top: 58px; */
}
.main::after{
    content:"";
    clear: both;
    display: block;
}
.subnavi{
    padding-top: 58px;
    width: 270px;
    float: left;
    margin-right: -100%;
}
.subnavi h2{
    padding-left: 16px;
    padding-bottom: 36px;
    color: #527fda;
}
.subnav{
    /* background: #527fda; */
}
.subnav > ul > li{
    height: 44px;
    padding: 15px 0px 33px 18px;
    /* border: 1px solid; */

}
.subnav > ul > li > a{
    color: #000;
}
.subcontents{
    padding-top: 58px;
    height:888px;
    margin-left: 270px;
    border-left: 1px solid #ddd;
    padding-left: 30px;
    /* background: blue; */
}
.subcontents h2{
    padding-bottom: 36px;
}
.subcontents .box1{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.subcontents .box2{
    margin-top: 12px;
    position: absolute;
    display: inline-block;
    top: 0;
    padding: 0;
    right: 0;
}
.box2 a{
    color: #666;
    font-size: 11px;

}
.footer{
    width: 100%;
    height: 355px;
    /* background: #222; */
    text-align: center;
    color: #4f4f4f;
}
.footbg{
    width: 100%;
    background: #222;
}
.foot1{
    padding-top: 44px;
    margin: 0 auto;
    width: 1100px;
    height: 228px;
}
.foot1 h3{
    font-size: 20px;
    color: #fff;
}
.foot1 a{
    color: #696969;
}
.foot2{
    margin: 0 auto;
    width: 1100px;
    height: 107px;
    text-align: left;
}
.foot2 > a > img{
    float: right;

}
